@import "tailwindcss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Hiragino Sans GB", "Microsoft YaHei", "SimHei", "LiHei Pro", "MingLiU",
    "Meiryo", "YuGothic", "Hiragino Kaku Gothic Pro", "WenQuanYi Micro Hei",
    sans-serif;
}

#root {
  width: 100%;
  height: 100dvh;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

button {
  cursor: pointer;
}
